@media (min-width: 320px) and (max-width: 575.98px) { 
    /*================================== navbar_part start ============================================*/
    
    .navbar .container{
        margin: 0 0;
    }

    .navbar .container .navbar-brand{
        margin-right: 0;
    }

    .navbar-toggler{
        border: 0;
        outline: none;
        padding: 0;
    }

    .navbar-toggler i{
        color: #6A4DF4;
    }
    
    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-nav{
        background: #0000001a;
        padding: 15px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .navbar-nav li{
        padding: 5px 0;
        width: 48%;
    }

    .navbar .navbar-nav {
        column-gap: 10px;
    }

    .navbar .customBtn{
        width: 100%;
        border-radius: 5px;
        font-size: 16px;
        line-height: 20px;
    }

    .navbar .nav-link {
        font-size: 16px;
        line-height: 20px;
    }

    .navbar .nav-link.active {
        transform: scale(1);
    }

    .navbar .nav-link:hover {
        transform: scale(1);
    }
    /*=================================== navbar_part end===============================================*/
    /*================================== bannar_part start ============================================*/
    #banner_part {
        padding: 160px 0 100px;
    }
    
    #banner_part .container h1 {
        font-size: 34px;
        line-height: 105%;
    }
    
    #banner_part .container p {
        font-size: 14px;
        line-height: 20px;
    }
    
    .slick-dots {
        bottom: 30px;
    }
    /*=================================== bannar_part end===============================================*/
    /*================================== success_part start ============================================*/
    #success_part {
        margin: 70px 0;
        padding: 0 12px;
    }
    
    #success_part .row .left h3 {
        font-size: 18px;
    }
    
    #success_part .row .left h2 {
        font-size: 25px;
    }
    
    #success_part .row .right  {
        flex-direction: column;
    }
    
    #success_part .row .right h2 {
        font-size: 30px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    
    #success_part .row .right .child {
        text-align: center;
    }
    
    #success_part .row {
        padding: 40px 30px;
        border-radius: 10px;
    }
    
    /*================================== success_part end ==============================================*/
    /*================================== service_part start ============================================*/
    #service_part .tittle h2 {
        font-size: 24px;
    }
    
    #service_part .tittle p {
        font-size: 14px;
        line-height: 22px;
    }
    
    #service_part .child {
        padding: 40px 20px 30px;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
    }
    
    #service_part .child h3 {
        font-size: 20px;
    }
    
    #service_part .child p {
        font-size: 14px;
        line-height: 20px;
    }
    

    /*================================== service_part end ==============================================*/
    /*================================== recent_part start ============================================*/
    #recent_part {
        padding: 60px 0;
    }
    
    #recent_part .tittle h2 {
        font-size: 25px;
    }
    
    #recent_part .child {
        border-radius: 10px;
    }
    
    
    #recent_part .tittle p {
        font-size: 14px;
        line-height: 21px;
    }
    
    #recent_part .tittle p {
        margin-bottom: 50px;
    }
    
    #recent_part .child img {
        height: 200px;
        border-radius: 10px;
    }
    
    #recent_part .child h3 {
        font-size: 17px;
    }
    
    #recent_part .child p {
        font-size: 14px;
        line-height: 20px;
    }
    
    /*================================== recent_part end ==============================================*/
    /*================================== agance_part start ============================================*/
    #agance_part {
        padding-top: 50px;
        margin-bottom: 60px;
    }
    
    #agance_part .tittle {
        margin-bottom: 40px;
    }
    
    #agance_part .tittle h2 {
        font-size: 26px;
    }
    
    #agance_part .tittle p {
        font-size: 14px;
        line-height: 22px;
    }
    
    #agance_part .main .parent .row {
        row-gap: 20px;
    }
    
    #agance_part .child h3 {
        margin: 10px 0 5px;
        font-size: 17px;
        color: white;
    }
    
    #agance_part .child p {
        font-size: 12px;
        line-height: 20px;
        color: #cecece;
    }
    
    #agance_part .main .parent{
        background: url(../images/agance03.jpg);
        position: relative;
        z-index: 1;
    }
    
    #agance_part .main .parent::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: -1;
    }
    
    #agance_part .main .parent .child {
        display: flex;
        align-items: center;
        gap: 12px;
    }
    
    #agance_part .main .parent .col-lg-6:nth-child(even) .child {
        flex-direction: row-reverse;
    }
    
    #agance_part .main .parent .col-lg-6:nth-child(even) .child .text{
        text-align: right;
    }
    
    #agance_part .main .team {
        display: none;
    }
    
    /*================================== agance_part end ==============================================*/
    /*================================== review_part start ============================================*/
    #review_part .tittle h2 {
        font-size: 25px;
    }
    
    #review_part .tittle p {
        font-size: 14px;
        line-height: 20px;
    }
    
    #review_part .reviewslider .slide {
        padding: 41px 30px;
    }
    
    #review_part .reviewslider .slide .main {
        font-size: 14px;
    }
    
    #review_part .reviewslider .slide .user .text h4 {
        font-size: 20px;
    }
    #review_part .reviewslider .slide .user .text p {
        font-size: 15px;
    }
    
    #review_part .reviewslider .leftArrow {
        position: absolute;
        left: 10% !important;
        top: 100%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        background: var(--white);
        border: 1px solid #f4efef;
        color: #f4efef;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
    
    #review_part .reviewslider .rightArrow {
        position: absolute;
        right: 5%;
        top: 100%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background: var(--white);
        border: 1px solid #f4efef;
        color: #f4efef;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
    
    /*================================== review_part end ==============================================*/
    /*================================== form_part start ============================================*/
    #form_part {
        margin: 70px 0 70px;
        padding: 60px 0 70px;
    }
    
    #form_part .tittle h2 {
        font-size: 25px;
    }
    
    #form_part .tittle p {  
        font-size: 14px;
        line-height: 20px;
        margin: 5px 0 0;
    }
    
    #form_part form {
        background: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
        border-radius: 10px;
    }
    
    #form_part form input {
        padding: 10px 15px;
        margin: 5px 0 15px;
    }
    
    #form_part form label {
        font-size: 14px;
        line-height: 20px;
    }
    
    #form_part form .customBtn {
        padding: 10px 0;
        margin-top: 0;
        border-radius: 4px;
        font-size: 14px;
        line-height: 20px;
    }
    
    /*================================== form_part end ==============================================*/
    /*================================== footer_part start ============================================*/
    .container .row{
        row-gap: 20px;
    }
    
    footer .footerLeft p {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    footer .footerRight {
        gap: 0px;
        justify-content: start;
    }

    footer .footerRight ul h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    footer .footerRight ul li a {
        font-size: 12px;
        line-height: 20px;
    }

    /*================================== footer_part end ==============================================*/
    
    
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    /*================================== navbar_part start ============================================*/
    
    .navbar .container{
        margin: 0 0;
    }

    .navbar .container .navbar-brand{
        margin-right: 0;
    }

    .navbar-toggler{
        border: 0;
        outline: none;
        padding: 0;
    }

    .navbar-toggler i{
        color: #6A4DF4;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-nav{
        background: #0000001a;
        padding: 15px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .navbar-nav li{
        padding: 5px 0;
        width: 48%;
    }

    .navbar .navbar-nav {
        column-gap: 10px;
    }

    .navbar .customBtn{
        width: 100%;
        border-radius: 5px;
        font-size: 16px;
        line-height: 20px;
    }

    .navbar .nav-link {
        font-size: 16px;
        line-height: 20px;
    }

    .navbar .nav-link.active {
        transform: scale(1);
    }

    .navbar .nav-link:hover {
        transform: scale(1);
    }
    /*=================================== navbar_part end===============================================*/
    /*================================== bannar_part start ============================================*/
    #banner_part {
        padding: 160px 0 100px;
    }
    
    #banner_part .container h1 {
        font-size: 45px;
        line-height: 105%;
    }
    
    #banner_part .container p {
        font-size: 17px;
        line-height: 20px;
    }
    
    .slick-dots {
        bottom: 30px;
    }
    /*=================================== bannar_part end===============================================*/
    /*================================== success_part start ============================================*/
    #success_part {
        margin: 70px 0;
        padding: 0 12px;
    }
    
    #success_part .row .left h3 {
        font-size: 18px;
    }
    
    #success_part .row .left h2 {
        font-size: 25px;
    }
    
    #success_part .row .right  {
        flex-direction: row;
        gap: 20px;
    }
    
    #success_part .row .right h2 {
        font-size: 30px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    
    #success_part .row .right .child {
        text-align: center;
    }
    
    #success_part .row {
        padding: 40px 30px;
        border-radius: 10px;
    }
    
    /*================================== success_part end ==============================================*/
    /*================================== service_part start ============================================*/
    #service_part .tittle h2 {
        font-size: 24px;
    }
    
    #service_part .tittle p {
        font-size: 14px;
        line-height: 22px;
    }
    
    #service_part .child {
        padding: 40px 20px 30px;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
    }
    
    #service_part .child h3 {
        font-size: 20px;
    }
    
    #service_part .child p {
        font-size: 14px;
        line-height: 20px;
    }
    

    /*================================== service_part end ==============================================*/
    /*================================== recent_part start ============================================*/
    #recent_part {
        padding: 60px 0;
    }
    
    #recent_part .tittle h2 {
        font-size: 25px;
    }
    
    #recent_part .child {
        border-radius: 10px;
    }
    
    
    #recent_part .tittle p {
        font-size: 14px;
        line-height: 21px;
    }
    
    #recent_part .tittle p {
        margin-bottom: 50px;
    }
    
    #recent_part .child img {
        height: 200px;
        border-radius: 10px;
    }
    
    #recent_part .child h3 {
        font-size: 17px;
    }
    
    #recent_part .child p {
        font-size: 14px;
        line-height: 20px;
    }
    
    /*================================== recent_part end ==============================================*/
    /*================================== agance_part start ============================================*/
    #agance_part {
        padding-top: 50px;
        margin-bottom: 60px;
    }
    
    #agance_part .tittle {
        margin-bottom: 40px;
    }
    
    #agance_part .tittle h2 {
        font-size: 26px;
    }
    
    #agance_part .tittle p {
        font-size: 14px;
        line-height: 22px;
    }
    
    #agance_part .main .parent .row {
        row-gap: 20px;
    }
    
    #agance_part .child h3 {
        margin: 10px 0 5px;
        font-size: 17px;
        color: white;
    }
    
    #agance_part .child p {
        font-size: 12px;
        line-height: 20px;
        color: #cecece;
    }
    
    #agance_part .main .parent{
        background: url(../images/agance03.jpg) no-repeat top / cover;
        position: relative;
        z-index: 1;
    }
    
    #agance_part .main .parent::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: -1;
    }
    
    #agance_part .main .parent .child {
        display: flex;
        align-items: center;
        gap: 12px;
    }
    
    #agance_part .main .parent .col-lg-6:nth-child(even) .child {
        flex-direction: row-reverse;
    }
    
    #agance_part .main .parent .col-lg-6:nth-child(even) .child .text{
        text-align: right;
    }
    
    #agance_part .main .team {
        display: none;
    }
    
    /*================================== agance_part end ==============================================*/
    /*================================== review_part start ============================================*/
    #review_part .tittle h2 {
        font-size: 25px;
    }
    
    #review_part .tittle p {
        font-size: 14px;
        line-height: 20px;
    }
    
    #review_part .reviewslider .slide {
        padding: 41px 30px;
        background: #F4EFEF;

    }

    #review_part .reviewslider .slide .main {
        font-size: 14px;
    }
    
    #review_part .reviewslider .slide .user .text h4 {
        font-size: 20px;
    }
    #review_part .reviewslider .slide .user .text p {
        font-size: 15px;
    }
    
    #review_part .reviewslider .leftArrow {
        position: absolute;
        left: 10% !important;
        top: 100%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        background: var(--white);
        border: 1px solid #f4efef;
        color: #f4efef;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
    
    #review_part .reviewslider .rightArrow {
        position: absolute;
        right: 5%;
        top: 100%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background: var(--white);
        border: 1px solid #f4efef;
        color: #f4efef;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
    
    /*================================== review_part end ==============================================*/
    /*================================== form_part start ============================================*/
    #form_part {
        margin: 70px 0 70px;
        padding: 60px 0 70px;
    }
    
    #form_part .tittle h2 {
        font-size: 25px;
    }
    
    #form_part .tittle p {  
        font-size: 14px;
        line-height: 20px;
        margin: 5px 0 0;
    }
    
    #form_part form {
        background: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
        border-radius: 10px;
    }
    
    #form_part form input {
        padding: 10px 15px;
        margin: 5px 0 15px;
    }
    
    #form_part form label {
        font-size: 14px;
        line-height: 20px;
    }
    
    #form_part form .customBtn {
        padding: 10px 0;
        margin-top: 0;
        border-radius: 4px;
        font-size: 14px;
        line-height: 20px;
    }
    
    /*================================== form_part end ==============================================*/
    /*================================== footer_part start ============================================*/
    .container .row{
        row-gap: 20px;
    }
    
    footer .footerLeft p {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    footer .footerRight {
        gap: 0px;
        justify-content: start;
    }

    footer .footerRight ul h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    footer .footerRight ul li a {
        font-size: 12px;
        line-height: 20px;
    }

    /*================================== footer_part end ==============================================*/
       
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    /*================================== navbar_part start ============================================*/
    
    .navbar .container{
        margin: 0 0;
    }

    .navbar .container .navbar-brand{
        margin-right: 0;
    }

    .navbar-toggler{
        border: 0;
        outline: none;
        padding: 0;
    }

    .navbar-toggler i{
        color: #6A4DF4;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-nav{
        background: #0000001a;
        padding: 15px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .navbar-nav li{
        padding: 5px 0;
        width: 48%;
    }

    .navbar .navbar-nav {
        column-gap: 10px;
    }

    .navbar .customBtn{
        width: 100%;
        border-radius: 5px;
        font-size: 16px;
        line-height: 20px;
    }

    .navbar .nav-link {
        font-size: 16px;
        line-height: 20px;
    }

    .navbar .nav-link.active {
        transform: scale(1);
    }

    .navbar .nav-link:hover {
        transform: scale(1);
    }
    /*=================================== navbar_part end===============================================*/
    /*================================== bannar_part start ============================================*/
    #banner_part {
        padding: 160px 0 100px;
    }
    
    #banner_part .container h1 {
        font-size: 45px;
        line-height: 105%;
    }
    
    #banner_part .container p {
        font-size: 17px;
        line-height: 20px;
    }
    
    .slick-dots {
        bottom: 30px;
    }
    /*=================================== bannar_part end===============================================*/
    /*================================== success_part start ============================================*/
    #success_part {
        margin: 70px 0;
        padding: 0 12px;
    }
    
    #success_part .row .left h3 {
        font-size: 18px;
    }
    
    #success_part .row .left h2 {
        font-size: 25px;
    }
    
    #success_part .row .right  {
        flex-direction: row;
        gap: 20px;
    }
    
    #success_part .row .right h2 {
        font-size: 30px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    
    #success_part .row .right .child {
        text-align: center;
    }
    
    #success_part .row {
        padding: 40px 30px;
        border-radius: 10px;
    }
    
    /*================================== success_part end ==============================================*/
    /*================================== service_part start ============================================*/
    #service_part .tittle h2 {
        font-size: 24px;
    }
    
    #service_part .tittle p {
        font-size: 14px;
        line-height: 22px;
    }
    
    #service_part .child {
        padding: 40px 20px 30px;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
    }
    
    #service_part .child h3 {
        font-size: 20px;
    }
    
    #service_part .child p {
        font-size: 14px;
        line-height: 20px;
    }
    

    /*================================== service_part end ==============================================*/
    /*================================== recent_part start ============================================*/
    #recent_part {
        padding: 60px 0;
    }
    
    #recent_part .tittle h2 {
        font-size: 25px;
    }
    
    #recent_part .child {
        border-radius: 10px;
    }
    
    
    #recent_part .tittle p {
        font-size: 14px;
        line-height: 21px;
    }
    
    #recent_part .tittle p {
        margin-bottom: 50px;
    }
    
    #recent_part .child img {
        height: 200px;
        border-radius: 10px;
    }
    
    #recent_part .child h3 {
        font-size: 17px;
    }
    
    #recent_part .child p {
        font-size: 14px;
        line-height: 20px;
    }
    
    /*================================== recent_part end ==============================================*/
    /*================================== agance_part start ============================================*/
    #agance_part {
        padding-top: 50px;
        margin-bottom: 60px;
    }
    
    #agance_part .tittle {
        margin-bottom: 40px;
    }
    
    #agance_part .tittle h2 {
        font-size: 26px;
    }
    
    #agance_part .tittle p {
        font-size: 14px;
        line-height: 22px;
    }
    
    #agance_part .main .parent .row {
        row-gap: 20px;
    }
    
    #agance_part .child h3 {
        margin: 10px 0 5px;
        font-size: 17px;
        color: white;
    }
    
    #agance_part .child p {
        font-size: 12px;
        line-height: 20px;
        color: #cecece;
    }
    
    #agance_part .main .parent{
        background: url(../images/agance03.jpg) no-repeat top / cover;
        position: relative;
        z-index: 1;
    }
    
    #agance_part .main .parent::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: -1;
    }
    
    #agance_part .main .parent .child {
        display: flex;
        align-items: center;
        gap: 12px;
    }
    
    #agance_part .main .parent .col-lg-6:nth-child(even) .child {
        flex-direction: row-reverse;
    }
    
    #agance_part .main .parent .col-lg-6:nth-child(even) .child .text{
        text-align: right;
    }
    
    #agance_part .main .team {
        display: none;
    }
    
    /*================================== agance_part end ==============================================*/
    /*================================== review_part start ============================================*/
    #review_part .tittle h2 {
        font-size: 25px;
    }
    
    #review_part .tittle p {
        font-size: 14px;
        line-height: 20px;
    }
    
    #review_part .reviewslider .slide {
        padding: 41px 30px;

    }

    #review_part .reviewslider .slide .main {
        font-size: 14px;
    }
    
    #review_part .reviewslider .slide .user .text h4 {
        font-size: 20px;
    }
    #review_part .reviewslider .slide .user .text p {
        font-size: 15px;
    }
    
    #review_part .reviewslider .leftArrow {
        position: absolute;
        left: 10% !important;
        top: 100%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        background: var(--white);
        border: 1px solid #f4efef;
        color: #f4efef;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
    
    #review_part .reviewslider .rightArrow {
        position: absolute;
        right: 5%;
        top: 100%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background: var(--white);
        border: 1px solid #f4efef;
        color: #f4efef;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
    
    /*================================== review_part end ==============================================*/
    /*================================== form_part start ============================================*/
    #form_part {
        margin: 70px 0 70px;
        padding: 60px 0 70px;
    }
    
    #form_part .tittle h2 {
        font-size: 25px;
    }
    
    #form_part .tittle p {  
        font-size: 14px;
        line-height: 20px;
        margin: 5px 0 0;
    }
    
    #form_part form {
        background: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
        border-radius: 10px;
    }
    
    #form_part form input {
        padding: 10px 15px;
        margin: 5px 0 15px;
    }
    
    #form_part form label {
        font-size: 14px;
        line-height: 20px;
    }
    
    #form_part form .customBtn {
        padding: 10px 0;
        margin-top: 0;
        border-radius: 4px;
        font-size: 14px;
        line-height: 20px;
    }
    
    /*================================== form_part end ==============================================*/
    /*================================== footer_part start ============================================*/
    .container .row{
        row-gap: 20px;
    }
    
    footer .footerLeft p {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    footer .footerRight {
        gap: 0px;
        justify-content: start;
    }

    footer .footerRight ul h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    footer .footerRight ul li a {
        font-size: 12px;
        line-height: 20px;
    }

    /*================================== footer_part end ==============================================*/
       
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    /*================================== navbar_part start ============================================*/
    
    .navbar .container{
        margin: 0 0;
    }

    .navbar .container .navbar-brand{
        margin-right: 0;
    }

    .navbar-toggler{
        border: 0;
        outline: none;
        padding: 0;
    }

    .navbar-toggler i{
        color: #6A4DF4;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-nav{
        padding: 15px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .navbar-nav li{
        padding: 5px 0;
        width: 48%;
    }

    .navbar .navbar-nav {
        column-gap: 40px;
    }

    .navbar .customBtn{
        width: 20%;
        border-radius: 5px;
        font-size: 16px;
        line-height: 20px;
    }

    .navbar .nav-link {
        font-size: 16px;
        line-height: 20px;
    }

    .navbar .nav-link.active {
        transform: scale(1);
    }

    .navbar .nav-link:hover {
        transform: scale(1);
    }
    /*=================================== navbar_part end===============================================*/
    /*================================== bannar_part start ============================================*/
    #banner_part {
        padding: 175px 0 126px;
    }
    
    #banner_part .container h1 {
        font-size: 50px;
        line-height: 130%;
    }
    
    #banner_part .container p {
        font-size: 17px;
        line-height: 20px;
    }
    
    .slick-dots {
        bottom: 30px;
    }
    /*=================================== bannar_part end===============================================*/
    /*================================== success_part start ============================================*/
    #success_part {
        margin: 70px 0;
        padding: 0 12px;
    }
    
    #success_part .row .left h3 {
        font-size: 18px;
    }
    
    #success_part .row .left h2 {
        font-size: 25px;
    }
    
    #success_part .row .right  {
        flex-direction: row;
        gap: 20px;
    }
    
    #success_part .row .right h2 {
        font-size: 30px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    
    #success_part .row .right .child {
        text-align: center;
    }
    
    #success_part .row {
        padding: 40px 30px;
        border-radius: 10px;
    }
    
    /*================================== success_part end ==============================================*/
    /*================================== service_part start ============================================*/
    #service_part .tittle h2 {
        font-size: 24px;
    }
    
    #service_part .tittle p {
        font-size: 14px;
        line-height: 22px;
    }
    
    #service_part .child {
        padding: 40px 20px 30px;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
    }
    
    #service_part .child h3 {
        font-size: 20px;
    }
    
    #service_part .child p {
        font-size: 14px;
        line-height: 20px;
    }
    

    /*================================== service_part end ==============================================*/
    /*================================== recent_part start ============================================*/
    #recent_part {
        padding: 60px 0;
    }
    
    #recent_part .tittle h2 {
        font-size: 25px;
    }
    
    #recent_part .child {
        border-radius: 10px;
    }
    
    
    #recent_part .tittle p {
        font-size: 14px;
        line-height: 21px;
    }
    
    #recent_part .tittle p {
        margin-bottom: 50px;
    }
    
    #recent_part .child img {
        height: 200px;
        border-radius: 10px;
    }
    
    #recent_part .child h3 {
        font-size: 17px;
    }
    
    #recent_part .child p {
        font-size: 14px;
        line-height: 20px;
    }
    
    /*================================== recent_part end ==============================================*/
    /*================================== agance_part start ============================================*/
    #agance_part {
        padding-top: 50px;
        margin-bottom: 60px;
    }
    
    #agance_part .tittle {
        margin-bottom: 40px;
    }
    
    #agance_part .tittle h2 {
        font-size: 26px;
    }
    
    #agance_part .tittle p {
        font-size: 14px;
        line-height: 22px;
    }
    
    #agance_part .main .team {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
    }

    #agance_part .main .parent .row {
        row-gap: 90px;
    }
    
    #agance_part .child h3 {
        margin: 10px 0 5px;
        font-size: 17px;
        color: white;
    }
    
    #agance_part .child p {
        font-size: 14px;
        line-height: 20px;
    }
    
    #agance_part .main .parent::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: -1;
    }
    
    #agance_part .main .parent .child {
        display: flex;
        align-items: center;
        gap: 12px;
    }
    
    #agance_part .main .parent .col-lg-6:nth-child(even) .child {
        flex-direction: row-reverse;
    }
    
    #agance_part .main .parent .col-lg-6:nth-child(even) .child .text{
        text-align: right;
    }
    
    /*================================== agance_part end ==============================================*/
    /*================================== review_part start ============================================*/
    #review_part .tittle h2 {
        font-size: 25px;
    }
    
    #review_part .tittle p {
        font-size: 14px;
        line-height: 20px;
    }
    
    #review_part .reviewslider .slide {
        padding: 41px 30px;

    }

    #review_part .reviewslider .slide .main {
        font-size: 14px;
    }
    
    #review_part .reviewslider .slide .user .text h4 {
        font-size: 20px;
    }
    #review_part .reviewslider .slide .user .text p {
        font-size: 15px;
    }
    
    #review_part .reviewslider .leftArrow {
        position: absolute;
        left: 10% !important;
        top: 100%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        background: var(--white);
        border: 1px solid #f4efef;
        color: #f4efef;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
    
    #review_part .reviewslider .rightArrow {
        position: absolute;
        right: 5%;
        top: 100%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background: var(--white);
        border: 1px solid #f4efef;
        color: #f4efef;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
    
    /*================================== review_part end ==============================================*/
    /*================================== form_part start ============================================*/
    #form_part {
        margin: 70px 0 70px;
        padding: 60px 0 70px;
    }
    
    #form_part .tittle h2 {
        font-size: 25px;
    }
    
    #form_part .tittle p {  
        font-size: 14px;
        line-height: 20px;
        margin: 5px 0 0;
    }
    
    #form_part form {
        background: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
        border-radius: 10px;
    }
    
    #form_part form input {
        padding: 10px 15px;
        margin: 5px 0 15px;
    }
    
    #form_part form label {
        font-size: 14px;
        line-height: 20px;
    }
    
    #form_part form .customBtn {
        padding: 10px 0;
        margin-top: 0;
        border-radius: 4px;
        font-size: 14px;
        line-height: 20px;
    }
    
    /*================================== form_part end ==============================================*/
    /*================================== footer_part start ============================================*/
    .container .row{
        row-gap: 20px;
    }
    
    footer .footerLeft p {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    footer .footerRight {
        gap: 0px;
        justify-content: start;
    }

    footer .footerRight ul h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    footer .footerRight ul li a {
        font-size: 12px;
        line-height: 20px;
    }

    /*================================== footer_part end ==============================================*/
       
}